* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

html, body {
    font-family: Lato, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*position: relative;*/
    background-color: rgba(195, 224, 234, 0.54);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 30px;
}
.header{
    width: 1440px;
    align-self: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav{
    padding-top: 20px;
    border: 2px solid red;
}
.nav__list {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    list-style: none;
}

.nav__link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
}

.main {
    width: 1440px;
    margin: 0 auto;
    background: #fff;

}

.container {
    width: 1440px;
    margin: 0 auto;
    background: #fff;
}

.section {
    padding: 10px 50px;
    /*margin-bottom: 40px;*/
    border-bottom: 2px solid gray;
    height: 40vh;
}
.section-title{
    margin-bottom: 20px;
    padding-top: 60px;
    font-size: 30px;
}

.list_item {
    list-style-type: none;
}

/*profile*/
.profile{
    position: relative;
    /*border: 1px solid red;*/
    padding-left: 0;
    height: 500px;
}
.heading{
    font-size: 50px;
    margin-bottom: 20px;
}
.title{
    font-size: 30px;
}
.profile__info{
    position: relative;
    background-color: #FFAE33;
    color: #fff;
    padding: 50px 150px;
    top: 150px;
    width: 70%;
}
.profile__img{
    width: 450px;
    position: absolute;
    right: 150px;
    top: 30px;
    background-color: #fff;
}
.right{
    background-color: #004252;
    color: #fff;
}
/*contacts*/
/*footer*/
.footer{
    position: fixed;
    bottom: 0;
    align-self: center;
}