html {
    scroll-behavior: smooth;
}

html, body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(250, 245, 238) 100%);

    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    line-height: 1.6;
    height: 100vh;
    font-size: 24px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: #aeabab;
    background-color: #f9fdff;
}

.section {
    padding: 0 60px;
}

.section-title {
    /*color: #197b88;*/
    color: #81787d
}

.header {
    text-align: center;
    padding: 20px 0;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav__item {
    margin: 0 15px;
}

.nav__link {
    font-size: 20px;
    color: #858383;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nav__link:hover {
    color: #b68157;
    border-bottom: 3px solid #b68157;
}

.cv-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
}

/*profile*/
.profile {
    display: flex;
    justify-content: space-evenly;
}

.profile__info {
    color: #7296b8;
    margin-top: 120px;

}

.heading {
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.title {
    font-size: 30px;
}

.profile__img {
    border-radius: 50px 0 50px 0;
    width: 350px;
    height: 450px;
    object-fit: cover;
}

/*about*/
.about-me {
    color: #948b90;
    width: 640px;
    position: relative;
    top: -160px;
    margin-left: 95px;
}

.section-title.about {
    font-size: 25px;
}

.about span {
    border-bottom: 3px solid #7DB3B5;;
}

.about-me p {
    font-size: 20px;
}

/*contacts*/
.contacts {
    width: 300px;
}

/*skills*/
.skills {
    width: 550px;
    border-radius: 50px 0 0 0;
    background-color: rgba(246, 189, 189, 0.54);
    padding: 30px 60px;
    color: white;
    font-weight: 600;
}

.skills__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*education*/
.education {
    border-radius: 50px 0 50px 0;
    background-color: #F5E0D3;
    padding: 30px;
    color: #7DB3B5;

}

.edu__list {
    list-style-type: none;
}

.edu__item {
    margin-bottom: 20px;
}